Backend/Data/reddit_01
Backend/Data/reddit_02
venv/
Trace/node_modules/
Data/epstein_submissions_2026_01.csv
Data/epstein_submissions_2026_02.csv
Data/epstine_submissions_merged.csv
Data/embeddings.pkl
Backend/.env
Backend/__pycache__/
Backend/__pycache__